// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dark .navbar-nav .nav-link {
	color: $link;
}

.navbar-dropdown .dropdown-item:hover {
	background: lighten($dark, 20);
} 

p {
	text-indent: 20px;
}