// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dark .navbar-nav .nav-link {
	color: $link;
}

p {
	text-indent: 20px;
}

// .lo-list .lo-list-item
// {
//     counter-increment: step-counter;
// }

// .lo-list-item::before {
// 	content: counter(step-counter, decimal-leading-zero);
// 	margin-right: 20px;
// 	padding: 50px;
// 	background: $secondary;
// 	display: inline-flex;
// }

.compare-choose {
	.list1,
	.compare,
	.list2,
	.filter-form {
		width: 100%;
	}
}

.lo-list-item {
	display: flex !important;
	width: 100% !important;
}

.lo-list-item .counter {
	margin-right: 20px;
	padding: 10px;
	background: $secondary;
}

.lo-list-item:nth-child(odd) {
	background: lighten($dark, 5) !important;
}

.lo-list-item:hover {
	background: lighten($dark, 10) !important;
}

.compare-radio {
	display: none;
}

.compare-checkbox {
	height: 25px;
	width: 25px;
	margin-right: 15px;
	background-color: $dark;
}

/* When the checkbox is checked, add a blue background */
.compare-radio:checked ~ .compare-checkbox {
	background-color: $secondary;
}
