// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-dark .navbar-nav .nav-link {
	color: $link;
}

p {
	text-indent: 20px;
}

.compare-choose {
	.list1,
	.compare,
	.list2,
	.filter-form {
		width: 100%;
	}
}

.compare-results {
	.list1 {
		max-width: 45%;
		min-width: 45%;
	}
	.vs {
		min-width: 5%;
		text-align: center;
	}

	.list2 {
		min-width: 45%;
		text-align: right;
	}
}

.files-heading {
	.missing{
		min-width: 45%;
		max-width: 48%;
	}
	.added {
		min-width: 49%;
		max-width: 49%;
		text-align: left;
	}
}

.files {
	.missing {
		max-width: 48%;
	}

	.added {
		min-width: 48%;
	}
}

.helper {

	min-height: 50px;
}

.lo-list-item {
	display: flex !important;
	width: 100% !important;
}

.lo-list-item .counter {
	margin-right: 20px;
	padding: 10px;
	background: $secondary;
}

.lo-list-item:nth-child(odd) {
	background: lighten($dark, 5) !important;
}

.lo-list-item:hover {
	background: lighten($dark, 10) !important;
}

.compare-radio {
	display: none;
}

.compare-checkbox {
	min-height: 25px;
	min-width: 25px;
	margin-right: 15px;
	background-color: $dark;
}

/* When the checkbox is checked, add a blue background */
.compare-radio:checked ~ .compare-checkbox {
	background-color: $secondary;
}

.dropdown-divider {
	border-top: 1px solid darken($dark, 20);
}

.list-group-item-dark {
	border-radius: 0 !important;
	background: lighten($dark, 5) !important;
	color: $white;
}

.list-group-item-dark:nth-child(odd) {
	background: lighten($dark, 10) !important;
}