@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i);html {
  font-family: "Roboto", sans-serif;
  line-height: 1.6em;
  font-size: 1.0rem;
}

body {
  background: #eee;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 100px;
  width: 80%;
}

.indent {
  text-indent: 20px;
  padding: 10px;
  line-height: 1.6;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  font-size: 10px;
  color: #111;
}

.text-center {
  text-align: center;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.text-button {
  border: none;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
}

.md-button {
  border: none;
  text-decoration: none;
  display: inline-block;
  -ms-flex-line-pack: middle;
      align-content: middle;
  background: #4CAF50;
  padding: 20px 30px;
  margin: 5px;
  color: #fff;
  text-transform: uppercase;
}

.md-button:hover {
  cursor: pointer;
}

.md-button a {
  text-decoration: none;
  color: inherit;
}

.md-button.button-red {
  background: #e63c3c;
}

.md-button-small {
  padding: 5px;
  border: none;
  text-decoration: none;
  display: inline-block;
  -ms-flex-line-pack: middle;
      align-content: middle;
  background: #4CAF50;
  color: #fff;
  margin: 5px;
  text-transform: uppercase;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.md-button-small.button-red {
  background: #e63c3c;
}

.md-button-small.button-blue {
  background: #3c9be9;
}

.row {
  width: 100%;
}

.row a {
  color: inherit;
  text-decoration: none;
}

.row-center,
.card-center,
.group-center,
.grid-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

[class^="col-"] {
  margin-bottom: 30px;
}

.wrapper {
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px #333;
          box-shadow: 0px 0px 20px #333;
  position: fixed;
  border: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: inherit;
  background: #fff;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav .nav-logo {
  font-weight: bold;
  margin: 0;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-logo a {
  text-decoration: none;
  color: inherit;
}

.nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
}

.nav .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav .nav-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.nav .nav-menu ul a {
  text-decoration: none;
  color: inherit;
}

.nav .nav-menu ul a:hover {
  color: #000;
}

.card {
  -webkit-box-shadow: 0px 0px 20px #ccc;
          box-shadow: 0px 0px 20px #ccc;
  border-radius: 5px;
  background: #fff;
  height: 100%;
  padding: 10px 15px;
  padding-bottom: 0;
}

.card-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*per https://scotch.io/tutorials/google-material-design-input-boxes-in-css3 */

.group {
  position: relative;
  margin-bottom: 30px;
}

.text-inputs {
  /* active state */
  /* active state */
  /* active state */
  /* ANIMATIONS ================ */
  /* active state */
}

.text-inputs input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

.text-inputs input:focus {
  outline: none;
}

.text-inputs label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.text-inputs input:focus ~ label,
.text-inputs input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.text-inputs .bar {
  position: relative;
  display: block;
}

.text-inputs .bar:before,
.text-inputs .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.text-inputs .bar:before {
  left: 50%;
}

.text-inputs .bar:after {
  right: 50%;
}

.text-inputs input:focus ~ .bar:before,
.text-inputs input:focus ~ .bar:after {
  width: 50%;
}

.text-inputs .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.text-inputs input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.text-inputs input:focus ~ label,
.text-inputs input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #1638bd;
}

.group-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.invalid-feedback {
  width: 100%;
  color: red;
  font-size: 12px;
  display: block;
  height: 50px;
  margin-bottom: 15px;
}

.forgot-password,
.tooltip {
  width: 100%;
  font-size: 10px;
}

.forgot-password a,
.tooltip a {
  text-decoration: none;
  color: #666;
}

input[type="file"] {
  display: none;
}

.upload-label {
  margin-bottom: 20px;
}

.quick-nav {
  position: fixed;
  left: 0;
  top: 30%;
  background: #fff;
  border-radius: 0 15px 15px 0;
  -webkit-box-shadow: 5px 5px 20px #ccc;
          box-shadow: 5px 5px 20px #ccc;
  padding: 10px 15px;
}

.quick-nav ul {
  margin: 0;
  padding: 0;
}

.quick-nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 5px 0;
}

.quick-nav a {
  text-decoration: none;
  color: #979797;
  text-transform: capitalize;
}

.quick-nav a:hover {
  color: #646464;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
}

table tr:nth-of-type(odd) {
  background: #eee;
}

table tr:hover {
  background: #ccc;
}

table th {
  padding: 5px;
}

table td {
  padding: 5px;
  margin: 0;
  border: none;
}

table a {
  color: #000;
}

table th:first-of-type,
table td:first-of-type {
  text-align: left;
  padding-left: 10px;
}

table .description {
  max-width: 250px;
}

.loadorder-info {
  width: inherit;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ddd;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loadorder-info a {
  color: inherit;
}

.loadorder-info .info {
  width: 100%;
  margin: 0;
  padding: 0;
}

.loadorder-info .head {
  width: 100%;
  margin-top: 10px;
}

.loadorder-info .head .author,
.loadorder-info .head .last-updated,
.loadorder-info .head .title {
  margin: 0;
}

.loadorder-info .head .title {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 0.8;
  display: inline-block;
}

.loadorder-info .head .last-updated {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.loadorder-info .description {
  width: 100%;
}

.loadorder-info .actions {
  padding: 0;
  margin: 10px 0 0 15px;
}

.loadorder-info .actions button {
  display: block;
  width: 120px;
}

