@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

html {
	font-family: "Roboto", sans-serif;
	line-height: 1.6em;
	font-size: 1.0rem;
}

body {
	background: #eee;
}

.container {
	padding-top: 85px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.indent {
	text-indent: 20px;
}

.footer {
	display: flex;
	justify-content: center;
	bottom: 0;
	font-size: 10px;
	color: #111;
}

@import 'lib/material';
@import 'grid';
@import 'nav';
@import 'card';