@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

html {
	font-family: "Roboto", sans-serif;
	line-height: 1.6em;
	font-size: 1.0rem;
}

body {
	background: #eee;
}

a {
	text-decoration: none;
}

.container {
	padding-top: 100px;
	width: 80%;
}

.indent {
	text-indent: 20px;
}

.footer {
	display: flex;
	justify-content: center;
	bottom: 0;
	font-size: 10px;
	color: #111;
}

.text-center {
	text-align: center;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.capitalize {
	text-transform: capitalize;
}

@import 'lib/material';
@import 'grid';
@import 'nav';
@import 'card';
@import 'forms';
@import 'tables';
@import 'tabs';
@import 'quick-nav';
