.row {
	width: 100%;

	a{
		color: inherit;
		text-decoration: none;
	}
}
.row-center, .card-center, .group-center, .grid-center {
	display: flex;
	justify-content: center;
	align-content: center;
}	

[class^="col-"] {
	margin-bottom: 30px;
}