.quick-nav {
	position: fixed;
	left: 0;
	top: 30%;
	background: #fff;
	border-radius: 0 15px 15px 0;
	box-shadow: 5px 5px 20px #ccc;
	padding: 10px 15px	;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding: 5px 0;
	}

	a {
		text-decoration: none;
		color: #979797;
		text-transform: capitalize;

		&:hover {
			color: darken(#979797, 20%);
		}
	}
}